@import url('https://cdn.jsdelivr.net/gh/TastyTonic/tonic-tweak@main/tweak.css') screen and (min-width: 720px);

#userpage a[onclick*="/suicide"] {
    display: none !important;
}

#userpage #main-content-col > :nth-child(n + 2), #userpage .jumbotron-overlay, #profile--info {
    display: none !important;
}

#userpage > div[class="container"] {
    min-width: 100vw !important;
    max-width: 100vw !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

#userpage > div[class="container"] > div {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

#userpage > div[class="container"] > div > div {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0 1rem !important;
}

#userpage #main-content-col {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

#userpage #main-content-col > :first-child {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

#userpage #main-content-col > :first-child > div {
    flex-grow: 1 !important;
}

#userpage .jumbotron {
    height: 100% !important;
    padding: 1rem 3rem !important;
    background-image: url(//img.freepik.com/free-vector/poker-table-background-green-color_47243-1073.jpg?w=1114) !important;
    image-rendering: high-quality !important;
}

#userpage .jumbotron > div {
    position: relative !important;
    height: 100% !important;
}

#userpage #profile--simphate + div {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

#userpage #profile--simphate {
    position: absolute !important;
    top: 2.5rem !important;
    right: 0 !important;
}

#userpage #profile--actionbtns {
    position: absolute !important;
    top: 5rem !important;
    right: 0 !important;
}

#userpage #button-unsub, #userpage #button-sub, #userpage a[onclick*="input-message"], #userpage a[onclick*="coin-transfer-amount"] {
    font-size: 0 !important;
    font-family: 'Font Awesome 6 Pro' !important;
    width: 4.2rem !important;
}

#userpage #button-unsub {
    background-color: var(--primary) !important;
    color: white !important;
    border: 1px solid var(--primary) !important;
}

#userpage #button-unsub::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage #button-unsub:hover::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage #button-sub {
    background-color: #333333 !important;
    color: #aaaaaa !important;
    border: 1px solid gray !important;
}

#userpage #button-sub::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage #button-sub:hover::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage a[onclick*="input-message"]::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage a[onclick*="coin-transfer-amount"]::after {
    font-size: 2rem !important;
    content: '' !important;
}

#userpage #message, #userpage #coin-transfer {
    position: absolute !important;
    top: 10.3rem !important;
    right: 0 !important;
    
    background: var(--background) !important;
    padding: 1.5rem !important;
    border-radius: 0.33rem !important;
    
    margin: 0 !important;
}

#userpage .toast {
    position: absolute !important;
    right: 2rem !important;
    margin: 0 0 0 auto !important;
}

[alt="![](#$cards)"] + i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5rem;
    width: 100vw;
    display: flex;
    justify-conten: center;
}

[alt="![](#$cards)"] + i > [alt="![](#poker-card)"] + i {
    margin: 0 1.5rem !important;
}
