/* basic */

[alt="![](#button)"] ~ i:first-of-type {
    padding: .4rem .75rem;
    border-radius: .25rem;
}

[alt="![](#button)"] ~ i:first-of-type:hover {
    filter: brightness(90%);
}

/* colors */

[alt="![](#.btn-primary)"] ~ i:first-of-type {
    background-color: var(--primary);
    color: white;
}

[alt="![](#.btn-success)"] ~ i:first-of-type {
    background-color: #157347;
    color: white;
}

[alt="![](#.btn-danger)"] ~ i:first-of-type {
    background-color: #bb2d3b;
    color: black;
}

[alt="![](#.btn-light)"] ~ i:first-of-type {
    background-color: #f9fafb;
    color: black;
}

[alt="![](#.btn-dark)"] ~ i:first-of-type {
    background-color: #1c1f23;
    color: white;
}
