[alt="![](#.suit-club)"] ~ i:first-of-type {
    --suit: '♣';
    --color: black;
}

[alt="![](#.suit-diamond)"] ~ i:first-of-type {
    --suit: '♦';
    --color: red;
}

[alt="![](#.suit-heart)"] ~ i:first-of-type {
    --suit: '♥';
    --color: red;
}

[alt="![](#.suit-spade)"] ~ i:first-of-type {
    --suit: '♠';
    --color: black;
}

[alt="![](#poker-card)"] ~ i:first-of-type {
    --size: 1;

    position: relative !important;
    display: inline-block !important;
    padding: calc(var(--size) * 1rem) !important;
    border-radius: 1rem !important;

    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

[alt="![](#poker-card)"] ~ i:first-of-type > img {
    min-width: calc(var(--size) * 125) !important;
    min-height: calc(var(--size) * 175) !important;
    max-width: calc(var(--size) * 125) !important;
    max-height: calc(var(--size) * 175) !important;
}

[alt="![](#poker-card)"] ~ i:first-of-type::before,
[alt="![](#poker-card)"] ~ i:first-of-type::after {
    padding: calc(var(--size) * 0.2rem) !important;
    font-size: calc(var(--size) * 2rem) !important;
    content: var(--suit) !important;
    color: var(--color) !important;

    display: inline !important;
    position: absolute !important;
    background-color: white !important;
    border-radius: 100% !important;
    vertical-align: middle !important;
}

[alt="![](#poker-card)"] ~ i:first-of-type::before {
    left: calc(var(--size) * .5rem) !important;
    top: calc(var(--size) * .5rem) !important;
}

[alt="![](#poker-card)"] ~ i:first-of-type::after {
    right: calc(var(--size) * .5rem) !important;
    bottom: calc(var(--size) * .5rem) !important;
    transform: scale(1, -1) !important;
}

[alt="![](#.hidden-card)"] ~ i:first-of-type:not(:hover) > img {
    margin: calc(var(--size) * -0.5rem) !important;

    padding: calc(var(--size) * (87.5px + .5rem)) calc(var(--size) * (62.5px + .5rem)) !important;
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: 0 !important;
    max-height: 0 !important;

    background:
        repeating-linear-gradient(-.15turn, transparent, red 10px),
        repeating-linear-gradient(.15turn, pink, transparent 10px)
    !important;
}

[alt="![](#.hidden-card)"] ~ i:first-of-type:not(:hover)::before,
[alt="![](#.hidden-card)"] ~ i:first-of-type:not(:hover)::after {
    display: none !important;
}
